server:
  port: 8081

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: notification-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    #url: jdbc:postgresql://postgres:5432/postgres # docker
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

application:
  messaging:
    notifications:
      exchange: notifications.exchange
      queue: notifications.queue
      routing-key: notifications.key

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,openapi,swaggerui
